body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(148, 147, 147);
}

.content{
  margin: 300px 500px 200px 510px;
  background-color:rgb(224, 221, 221);
  border: 2px black solid;
  padding: 0px 26px;
}

h1 {
  text-align: center;
  border: 2px black solid;
  background-color: rgb(189, 188, 188);
  margin: 10px 5px;
 }

.centrado {
  text-align: center;
  margin: 0px 0px 0px 8px;
}

.endireitado {
  text-align: center;
  padding: 0px 20px;
}
